<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mars  Project</title>
        <link rel="stylesheet" href="navbar.css">
    </head>
    <header>
        <h1>JCIB<span>FORENS-X</span></h1>
        <nav>
            <ul>
                <li><a href="data.html">Data</a></li>
                <li><a href="status.html">Status</a></li>
                <li><a class="active" href="about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <body>
	<p>We are ForensX. ForensX is a team of high schoolers that code and desire to apply their skills. 
Our team is based in Birmingham, Alabama. Our skills range from machine learning to using arduinos in creative ways. 
The goal of our app is to determine if a sandstorm is passing over the rover being observed. 
This is achieved by using a light sensor and measuring the amount of light every 10 seconds. 
This can be used for detecting dust storms and preparing for them. For example, if at some point humans colonize Mars, 
it can be assumed that solar panels will be used for energy. A sandstorm would make those panels useless. 
Our app can detect sandstorms and send a warning and let people know to prepare for a storm. 
Another potential use is for rovers. When dust collects on the solar panel of a rover it loses some access to the sun's energy. 
With our app we can detect sandstorm and use them to clean off the solar panel with the storms winds.
</p>
    </body>
</html>