<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mars  Project</title>
        <link rel="stylesheet" href="navbar.css">
    </head>
    <header>
        <h1>JCIB<span>FORENS-X</span></h1>
        <nav>
            <ul>
                <li><a href="data.html">Data</a></li>
                <li><a href="status.html">Status</a></li>
                <li><a class="active" href="about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <body>
    </body>
</html>